#ocado-allergen-banner.flag {
    background-color: #fbb;
    padding: 8px;
    font-size: 125%;
    border: solid 1px red;
}

#ocado-allergen-banner.message {
    background-color: #dfd;
    padding: 8px;
    border: solid 1px green;
}

#ocado-allergen-banner.hidden {
    display: none;
}

.ocado-allergen-flag::after, .ocado-allergen-loading::after, .ocado-allergen-check::after, .ocado-allergen-unknown::after {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  bottom: 24px;
  right: 0px;
  border: 1px solid;
  border-radius: 4px; 
  background-color: white;
  color: white;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}

.ocado-allergen-loading::after {
  content: "\B7\B7\B7";
  background-color: #888;
  border-color: #444;
}

.ocado-allergen-flag::after {
  content: "\2691";
  background-color: #f44;
  border-color: #c00;
}

.ocado-allergen-check::after {
  content: "\2713";
  background-color: #4a4;
  border-color: #0c0;
}

.ocado-allergen-unknown::after {
  content: "?";
  background-color: #44a;
  border-color: #00c;
}
